// main: ../style.scss

header {
  @include transition(all);
  z-index: 10;

  .menu-header-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-item-logo img {
    filter: brightness(.1) sepia(1) saturate(4000%) hue-rotate(270deg);
    max-width: 200px;
  }

  &.header-reduit {
    .menu-item-logo img { max-width: 150px; }
  }

  .menu-item-langue {
    width: 40px;

    &:hover {
      & > .sous-menu {
        display: block!important;
        box-shadow: 0 0 20px #{$typo}20;
        margin-left: -1.5rem;

        li { cursor: pointer; }
      }
    }

    .active {
      cursor: pointer;

      &:after {
        display: inline-block;
        content: '';
        width: 0; height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: $typo transparent transparent transparent;
        vertical-align: 2px;
        margin-left: 10px;
      }
    }
  }
}
